:root {
  --primary-color: #4caf50;
  --primary-color-darken: #3d8540;
  --accent-color: #fdd835;
  --background-color: #121212;
  --text-color: #ffffff;
  --subtext-color: #aaaaaa;
  --border-color: #333333;
}


body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-color-darken);
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-darken);
}
